body {
  margin: 0;
  text-align: center;
}

main {
  width: 550px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

h2 {
  margin: 0;
}

p {
  text-align: justify;
}

.red-border {
  border: 1px dotted red;
}

.card {
  padding: 1em;
  max-width: 50%;
}